@{
    ViewData["Title"] = "Home";
}
<br>
<br>
<div class="container">

<div class="row align-items-center ">
    
    
    <div class="col">
         <div class="jumbotron text-center">
             <h1> Welcome to simpleBT!</h1>
             <h4> Manage Tasks and Users </h4>
             <h4> in big teams simple and efficient.</h4>
             <p> Once verified, Users can start working on their tasks within minutes.</p>
             <a class="btn btn-primary" asp-controller="Bug" asp-action="Index" >Get started!</a>
          </div>
    </div>

    <div class="col-6">
      <h3>Test-version</h3>
      <p> Log in to manage and interact with bugs.</p>
      <p> While the website isnt published, view privacy page for an existing Admin account.</p>
      <a class="btn btn-primary" asp-action="Privacy" >Get Admin Account</a>
    </div>

    </div>

    <br>
    <br>
<center>
    <h3>Key Feature overview:</h3>
</center>
<hr/>
  <div class="row">

    <div class="col-sm-4">
        <div class="card bg-dark text-white border-white">
            <div class="card-header text-center">
               <h4> User authorization </h4>
            </div>
            <div class="card-body">       
                <p> Authorization and authentication</p>
                <p> Manage Users and their access</p>
                <p> Creation of new Roles via Frontend</p>
            </div>
        </div> 
    </div>

    <div class="col-sm-4">
        <div class="card bg-dark text-white border-white">
            <div class="card-header text-center">
               <h4> Bug Customization </h4>
            </div>
            <div class="card-body"> 
                <p> Complete customization of reported issues </p>
                <p> After the fact editing</p>
                <p> Self Assignment to bugs</p>
            </div>
        </div> 
    </div>

    <div class="col-sm-4">
        <div class="card bg-dark text-white border-white">
            <div class="card-header text-center">
               <h4> Responsive Filter </h4>   
            </div>
            <div class="card-body"> 
                <p> Responsive live-search filter of existing bugs</p>
                <p> Custom User search</p>
                <p> Simple yet powerful management of bugs</p>
            </div>
        </div> 
    </div>


  </div>
  <br>
</div>


