@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a private project. While creating an account will offer additional access, creation and editing of bugs is limited to approved users. </p>



<div class= "row">

    <div class= "col">
        <div class="card">
            <div class="card-header">
               Admin-account login
            </div>
            <div class="card-body"> 
                <p> Username: admin</p>
                <p> Password: Qwertz.1 </p>
            </div>
        </div> 
    </div>

    <div class= "col">
        <div class="card">
            <div class="card-header">
               User-account login
            </div>
            <div class="card-body"> 
                <p> Username: user</p>
                <p> Password: Qwertz.1 </p>
            </div>
        </div>
    </div>

</div>

<br>
<h2>These accounts will be deleted should this project be published.</h2>